html,body
{
	margin: 0;
	padding: 0;
}

.Blog-container
{
	padding-left: 10px;
	padding-right: 10px;
	width: 45%;
	background-color: rgb(226,226,235);
}

h1.Blog-title
{
	color: rgb(30,90,113);
}

p.blog-text
{
	color: rgb(28,27,36);
}
p.pink
{
	color: rgb(235,89,81);
}

h3.pink
{
	color: rgb(235,89,81);
}
.Title-box
{
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.Subtitle-box
{
	font-size: 17px;
}
.subtitle
{
	width: 100%;
	text-align: center;
}

.date-box
{
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-align: left;
}
