html,body
{
	margin: 0;
	padding: 0;
	
}

.post
{
	padding-left: 10px;
	padding-right: 10px;
	width: 45%;
	background-color: rgb(226,226,235);
}

.post-title
{
	font-size: 20px;
	width: 100%;
	/*width: 50%;*/
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color:black;
	text-align: center;
	font-family: 'Sigmar One', cursive;
	color: black;
}

.post-subtitle
{
	font-Blog-text: 17px;
	width: 100%;
	font-family: 'Averia Sans Libre', cursive;
	color:black;
	text-align: center;
}

.post-stamp
{
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-align: left;
}

.post-content{
	/*border: 2px solid white;*/
	
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.describe{
	font-family: 'Averia Sans Libre', cursive;
	color:black;
	text-align: center;
	font-size: 18px;
	
}


.post-content-text img{	
	width: 500px;
	border: 2px solid;
	box-shadow: 5px 5px 5px #545454;
}

.post-content-text{
	
	margin: 20px;
	padding:10px;
}

.describe.alignment{
	width:50%;
}
.post-labels{
		text-decoration: underline;
}