html{
font: 62.5% 'CartoGothicStdBook',Arial,sans-serif;}

body{
	margin: 0;
	padding: 0;
	color: rgb(221, 221, 221);
	text-align: left;
	font-size: 1.9em;
	line-height: 1.65em;
}

#main_logo{
	/*background-image: url("pics/logo.png");*/
	margin:15px;
	height:20px;
	width:20px;
	float:left;
	display:block;
	text-indent: 0px;
	position:absolute;
}
#header{
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 90px;
	border-bottom: 5px solid black;
}

#HeaderContent_area{
	/*background-color: red*/
	padding: 0;
	/*height: 50px;
	margin: 10px 0px 0px 0px;*/
}

#menu{
	
	list-style-type:none;
	margin:0;
	padding:0;
	width: 450px;
	float: right;
	margin-top: 30px;
	font-size:18px;
}


.item{
	margin:0;
	/*padding:3px 15px;*/
	padding: 0px 15px 23px;
	/*background-color:383838;*/
	/*float:left;*/
	line-height: 1.65em;
	font-size: 1.0em;
	display:inline;
	color:black;
	position: relative;
	text-align: left;
}

/*.item:hover
{
color: DDDDDD;
}

.item:hover .submenu{
	background-color: FF9C7A;
	display: block;
}

.submenu{
	margin:0;
	padding:2px;
	position: absolute;
	margin-top:2px;
	margin-left: -15px;
	list-style-type: none;
	display:none;
}
		
.submenu-item{
	margin: 0;
	padding: 2px;
}
.submenu-item:hover{
	background-color: white
	
}
*/
#wrapper{
	margin: 0px auto;
}

#cover{
	background: linear-gradient( #FF9966, #FF9999);
	width:100%;
	height:210px;
	border-bottom: solid black;
	border-bottom-width: 5px;
	margin;
	
}

#text{
	float: left;
	text-align:left;
	color: black;
	padding: 20px;
	width:480px;
	height:20px;
}
#login-space{
	border-bottom: 5px solid black;
	height: 30px;
}
#login-box{
	
	margin: 50px auto;
	width: 400px;
	height: 190px;
	border: 5px solid black;
	position: relative;
	bottom: 200px;
	right: -326px;
	background-color: white;
}
#login{
	position:relative;
	margin: 0 auto;
	padding: 20px 20px 2px;
	width: 310px:
}

#login p.submit{
	text-align:right;
}

/*.login:before{
	content: '';
	position: absolute;
	top: -8px;
	right:-8px;
	bottom:-8px;
	left:-8px;
	z-index: -1;
	background: rgba(0,0,0,0.08);
	border-radius: 4px;
}*/

#login h1{
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	text-align: center;
	text-shadow: 0 1px white;
	background: #f3f3f3;
	border-bottom: 1px solid #cfcfcf;
	box-shadow: 0 1px whitesmoke;
	
}
#login p{
	margin: 20px 0 0;
}

#login p:first-child {
	margin-top:
}

#login input[type=email], #login input[type=password] {
	width: 278px;
	height: 30px
}

#footer_container{
	position: absolute;
	clear:both;
	left:0px;
	right:0;
	bottom:0;

}
#connect{

}

.SocialLinks{
	
}