html{
font: 62.5% 'CartoGothicStdBook',Arial,sans-serif;}

body{
	margin: 0;
	padding: 0;
	color: rgb(221, 221, 221);
	text-align: left;
	font-size: 1.9em;
	line-height: 1.65em;
}

#main_logo{
	background-image: url("pics/logo.png");
	margin:0px;
	height:20px;
	width:20px;
	float:left;
	display:block;
	text-indent: 0px;
	position:absolute;
}
#header{
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 90px;
	border-bottom: 10px solid black;
}

#HeaderContent_area{
	/*background-color: red*/
	padding: 0;
	/*height: 50px;
	margin: 10px 0px 0px 0px;*/
}

#menu{
	
	list-style-type:none;
	margin:0;
	padding:0;
	width: 450px;
	float: right;
	margin-top: 30px;
	font-size:18px;
}


.item{
	margin:0;
	/*padding:3px 15px;*/
	padding: 0px 15px 23px;
	/*background-color:383838;*/
	/*float:left;*/
	line-height: 1.65em;
	font-size: 1.0em;
	display:inline;
	color:black;
	position: relative;
	text-align: left;
}

/*.item:hover
{
color: DDDDDD;
}

.item:hover .submenu{
	background-color: FF9C7A;
	display: block;
}

.submenu{
	margin:0;
	padding:2px;
	position: absolute;
	margin-top:2px;
	margin-left: -15px;
	list-style-type: none;
	display:none;
}
		
.submenu-item{
	margin: 0;
	padding: 2px;
}
.submenu-item:hover{
	background-color: white
	
}
*/
#wrapper{
	margin: 0px auto;
	width: 960px;
}

#cover{
	background: linear-gradient( #FF9966, #FF9999);
	width:480px;
	height:159px;
	border-bottom: solid black;
	border-bottom-width: 5px;
	margin;
	
}

#text{
	float: left;
	text-align:left;
	color: black;
	
}


#footer_container{
	position: absolute;
	clear:both;
	left:0px;
	right:0;
	bottom:0;

}
#connect{

}

.SocialLinks{
	
}