html{
	font: 62.5% 'CartoGothicStdBook',Arial,sans-serif;
	margin:0;
	}

body{
	margin: 0;
	padding: 0;
	color: rgb(221, 221, 221);
	text-align: left;
	font-size: 1.9em;
	line-height: 1.65em;
	/*background: linear-gradient(  #070707, #292929);*/
}

#container{
	background: black;
}

#heading{
	border: 2px solid whiteb;
	width: 50%;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
#heading h1{
	color:black;
	text-align: center;
	font-family: 'Sigmar One', cursive;
	color: #ffffff;
}

#wrapper{
	border: 2px solid whiteb;
	width: 50%;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.describe{
	font-family: 'Averia Sans Libre', cursive;
	color:black;
	text-align: center;
	color: #ffffff;
}

#photos{
	margin:100px;
	height:100px;
	width:100px;
	float:left;
	display:block;
	text-indent: 0px;
	position:absolute;
}
.size img{	
	width: 500px;
	border: 2px solid;
	box-shadow: 5px 5px 5px #545454;
}

.size{
	text-align: center;
	margin: 20px;
	padding:10px;
}

.describe.alignment{
	width:50%;
}