html,body
{
	margin: 0;
	padding: 0;
}

.post
{
	padding: 20px;
	width: 45%;
	background-color: #EF5551;
	display: block;
	margin: auto;
	font-family: "Comic Sans MS";
}

h1.post-title
{
	font-size: 20px;
	width: 100%;
	text-align: center;
	color: #003C53;
}

.blog-text
{
	color: #2A2C38;
	font-family: "Comic Sans MS";
}
p.post-author
{
	color: #003C53;
}

h4.post-subtitle
{
	color: #1C1B24;
}
.post-title
{
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.post-subtitle
{
	font-size: 17px;
}
.subtitle
{
	width: 100%;
	text-align: center;
}

.post-stamp
{
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-align: left;
}

.post-video iframe
{
	width:500;
	height:325;
	margin: auto;
	display: block;
}
.post-video{
	width:500; 
	margin: auto;
	font-size: 14px;
	font-family: "Comic Sans MS";
	align: right;
}
.video-desc
{
	overflow: hidden;
}

.showmore, .showless {
	width: 70px;
	padding: 4px 4px;
	display: block;
	text-align:center;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 14px;
	color: #000;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #E2E2EB;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
}
.showmore:hover, .showless:hover{
	background: #627C82;
}
