html,body
{
	margin: 0;
	padding: 0;
}

.Blog-container
{
	padding-left: 10px;
	padding-right: 10px;
	width: 45%;
	background-color: #EF5551;
	display: block;
	margin: auto;
}

h1.Blog-title
{
	color: #003C53;
}

.blog-text
{
	color: #2A2C38;
	font-family:"Georgia";
}
p.pink
{
	color: #003C53;
}

h3.pink
{
	color: #1C1B24;
}
.Title-box
{
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.Subtitle-box
{
	font-size: 17px;
}
.subtitle
{
	width: 100%;
	text-align: center;
}

.date-box
{
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-align: left;
}

iframe.videos
{
	width:500;
	height:250;
	margin: auto;
	display: block;
}

p.video-description
{
	width:500;
	margin: auto;
	display: block;
	font-size: 14px;
	font-family: "Comic Sans MS"
	/*text-align:center;*/
}