html, body{
margin: 0;
padding: 0;
}
#logoanim{
	margin-left: 150px;
	margin-top: 150px;
	position: relative;
	margin-bottom: 2px;
	border: 1px solid black;
	height: 271px;
}
#act, #overlay{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 271px;
	width: 563px;
}
#act{
	z-index: 10;
	height: 271px;
	background: url('/ThotDown/Shivam/images/actual.png');
	background-position: 0 0;
}
#overlay{
	z-index: 12;
	height: 15px;
	background: url('/ThotDown/Shivam/images/overlay.png');
	background-position: 0 0;
	box-shadow: 0 0 25px white;
}