html,body
{
	margin: 0;
	padding: 0;
}

.post-title
{
	font-family: Chiller;
}
.post
{
	padding-left: 10px;
	padding-right: 10px;
	width: 45%;
	background-color: EF5551;
}

h1.Blog-title
{
	color: #1C1B24;
}

p.post-content-text
{
	color: rgb(28,27,36);
	font-family: Berlin Sans FB;
	font-size: 20px;
}
p.pink
{
	color: rgb(235,89,81);
}

h3
{
	color: #1C1B24;
	font-family: Berlin Sans FB;
}
.post-title
{
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.post-subtitle
{
	font-size: 17px;
}
.subtitle
{
	width: 100%;
	text-align: center;
}

.post-stamp
{
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-align: left;
}

h2{
	text-align: centre;
	background-color: #1C1B24;
	padding: 5px;
	margin: 10px;
	font-family: Papyrus;
	color: E2E2EB;
}

.post-img img{
	width:500px;
	height:500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	box-shadow: 5px 5px 5px 5px #1C1C1C;
}